/*
 Headers : darker grotesque
 Text : roboto
 */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;700&family=Roboto:wght@100;400&display=swap');

h1, h3, .section {font-family: 'Darker Grotesque', sans-serif; font-weight: 300;}
p, #nav *, h2 {font-family: 'Roboto', sans-serif; font-weight: 100;}

:root {
    --backgroud : #F0F0F0;
    --tonique : #489D73;
}

html, body {
    background-color: var(--backgroud);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0;
}

h1 a {
    text-decoration: none !important;
}

h2 {
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 3rem;
    margin-left: 1%;
}

#nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 20% 100px 20%;
}

#nav li a {
    text-decoration: none;
    color: black;
}

#nav li a:hover {
    text-decoration: none;
    color: var(--tonique);
}

.section {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 30px;
    display: inline-block;
    margin-left: 1%;
}

p {
    margin-left: 1%;
    font-size: 1.2rem;
}

#image-main {
    width: 100vw;
    margin-bottom: 20px;
}

#image-avatar {
    float: left;
    border-radius: 50%;
    margin: 10px 40px;
}

a {
    color: black;
    font-weight: 400;
    transition: color .3s;
}

a:hover {
    color: var(--tonique);
}

strong {
    font-weight: 400;
}