/*
 Headers : darker grotesque
 Text : roboto
 */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;700&family=Roboto:wght@100;400&display=swap');

h1, h3, .section, .submit {font-family: 'Darker Grotesque', sans-serif; font-weight: 300;}
p, #nav *, h2, label, #contact-form .label {font-family: 'Roboto', sans-serif; font-weight: 100;}

:root {
    --backgroud : #F0F0F0;
    --tonique : #D8A355;
    --green-back : #ffd073;
}

html, body {
    background-color: var(--backgroud);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0;
}

h1 a {
    text-decoration: none !important;
}

h2 {
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 2rem;
    text-align: center !important;
}

#nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 20% 100px 20%;
    padding: 0;
}

#nav li {
    text-align: center;
}

#nav li a {
    text-decoration: none;
    color: black;
}

#nav li a:hover {
    color: var(--tonique);
    text-decoration: underline;
    transition: all .4s;
}

h4.section {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px auto 50px auto;
    text-align: center !important;
}

p {
    margin: 0 5%;
    font-size: 1.2rem;
    hyphens: auto;
    text-align: justify;
}

#image-main {
    width: 100vw;
    margin-bottom: 20px;
}

#image-avatar {
    float: left;
    border-radius: 50%;
    margin: 10px 40px;
}

#image-atelier {
    width: 100vw;
}

a {
    color: black;
    font-weight: 400;
    transition: color .3s;
}

a:hover {
    color: var(--tonique);
}

strong {
    font-weight: 400;
}

#contact-form {
    background-color: var(--green-back);
    text-align: center;
    margin: 0 8%;
    padding: 10px;
    border-radius: 20px;
}

#contact-form .label {
    margin: 20px auto 0 auto;
    width: 70vw;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: .9rem;
}

.g-recaptcha {
    margin: 20px auto;
    text-align: center;
    display: inline-block;
}

.submit {
    margin: 20px auto;
    width: 15vw;
    height: 40px;
    background-color: #F0F0F0;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .3s;
    border-radius: 10px;
    border: none;
}

.submit:hover {
    cursor: pointer;
}

#footer {
    border-top: 1px solid black;
    margin: 80px 20px 0 20px;
    padding: 40px 0;
    text-align: center;
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    #nav {
        margin: 60px 0 100px 0;
    }
    #nav li a {
        padding: 40px 0px;
    }
    img#image-avatar {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }
}